<html xmlns="http://www.w3.org/1999/xhtml" 
          xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layouts/default-layout :: head">

<title>Tailor's App</title>
</head>
<body style="background: url(images/fashion-3080644_1920.jpg) no-repeat center center; background-size: cover; bg-color:black;">

<!-- Menu -->

<div class="menu" th:replace="layouts/menu-layout :: div"></div>


    <header class="main-header" th:replace="layouts/header-layout :: header">  
    </header>
    	<div class="super_container_inner">
		<div class="super_overlay"></div>
  

    <div class="container">
    <div class="home">
    

      <form method="POST" th:action="@{/login}" class="form-signin">
        
       <div class="registration_page" style="width:50%; margin-top:100px; background-color:white; padding:15px;border-radius:10px;">
       <h2 class="form-heading" style="color:green; font-family:Biome Light;">Log in</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <div th:if="${message}" style="background-color:red; padding:8px; color:white; border-radius:8px; font-size:15px; margin-bottom:15px;" th:text="${message}"></div>
            <div th:if="${error}" style="background-color:red; padding:8px; color:white; border-radius:8px; font-size:15px; margin-bottom:15px;" th:text="${error}"></div>
            <div th:if="${success}" style="background-color:red; padding:8px; color:white; border-radius:8px; font-size:15px; margin-bottom:15px;"  th:text="${success}"></div>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   th:autofocus="true"  style="margin-bottom:8px;"/>
            <input name="password" type="password" class="form-control" placeholder="Password" th:autofocus="true"/>
            
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:8px;">Log In</button>
            <h4 class="text-center" style="padding:6px;"><a th:href="@{/registration}">Create an account</a></h4>
        </div>
        </div>
      </form>
    </div>
    </div>
    </div>
	<footer class="footer" th:replace="layouts/footer-layout :: footer"></footer>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap-4.1.2/popper.js}"></script>
<script th:src="@{/bootstrap-4.1.2/bootstrap.min.js}"></script>
<script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
<script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
<script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
<script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
<script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
<script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
<script th:src="@{/plugins/easing/easing.js}"></script>
<script th:src="@{/plugins/progressbar/progressbar.min.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>